*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 50px;
}
.titulo{
background-color: black;
text-align: start;
}
h1{
    color: white;
}

span{
    color: aqua;
}
.texto{
background-color: blueviolet;
color: white;
text-align: center;
font-size: 35px;
font-style: italic;
}

.contacto{
background-color: rgb(125,190,235);
text-align: end;
font-size: 20px;
text-decoration: underline;
font-style: italic;
}

.titulo, .texto, .contacto{
    padding:5px 15px 5px 15px;
    margin-bottom: 15px;
    font-size: 20px;
}