* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    display: flex;
    width: 100%;
    color: white;
    background-color: pink;
    padding: 10px 0;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    background-color: peachpuff;
    border-radius: 10px;
    border: none;
}