*{
    margin:0;
    padding:0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 200px;
    padding:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.container button{
    padding:10px;
    background-color:brown;
    color: white;
    border-radius: 10px;
}